<div class="container">
    <div class="menuMarginTop">
        <h2 class="titre">Ajouter un utilisateur</h2>
        <section class="row">
            <article class="col-lg-4 col-md-4">
                <div class="image">image télécharger ou non</div>
                <section class="row">
                    <div class="col-lg-3 col-md-4">Mod.</div>
                    <div class="col-lg-3 col-md-4">Sup</div>
                    <div class="col-lg-3 col-md-4">Status</div>
                </section>
            </article>
            <article class="col-lg-6 col-md-6">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, amet quis minus eveniet quisquam similique vero sint ea? Omnis quam neque iure nostrum porro nobis exercitationem dolor illum culpa saepe?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, amet quis minus eveniet quisquam similique vero sint ea? Omnis quam neque iure nostrum porro nobis exercitationem dolor illum culpa saepe?
                </p>
                <button class="btn btn-primary"> Envoyer </button>
            </article>
        </section>
    </div>
    <p></p>
    <app-footer></app-footer>
</div>