<div class="container">
    <div class="menuMarginTop">
        <h2 class="titre">Mes Favories</h2>
        <section class="row">
            <article class="col-lg-6 items">
                <div class="image"></div>
                <div class="content"></div>
            </article>
            
            <article class="col-lg-6 items">
                <div class="image"></div>
                <div class="content"></div>
            </article>

            <article class="col-lg-6 items">
                <div class="image"></div>
                <div class="content"></div>
            </article>

            <article class="col-lg-6 items">
                <div class="image"></div>
                <div class="content"></div>
            </article>
        </section>
    </div>
    <app-footer></app-footer>
</div>
