<div class="container">
    <div class="menuMarginTop">
        <h2 class="titre">Bienvenue : nom</h2>
        <form action="">
            <section class="row">
                <article class="col-lg-12">
                    <table class="table">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Voir</th>
                            <th scope="col">Mon</th>
                            <th scope="col">Prenom</th>
                            <th scope="col">Droit</th>
                          </tr>
                        </thead>
                        <tbody class="couleurItems">
                          <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                          </tr>
                        </tbody>
                      </table>
                </article>
            </section>
        </form>
    </div>
    <p></p>
    <app-footer></app-footer>
</div>