.recherche{
    margin-top: 24%;
    margin-bottom: 24%;
    .zoneDeTexte{
        width: 80%;
        float: left;
        height: 50px;
        background-color: aquamarine;
    }
    .Boutton{
        width: 20%;
        float: right;
        height: 50px;
        background-color: aqua;
    }
}
.derniereSortie{
    width: 100%;
    background-color: bisque;
    height: 200px;
    margin-bottom: 20px;
}
.filmFavori{
    width: 100%;
    background-color: bisque;
    height: 200px;
    margin-bottom: 20px;

}
.filmVue{
    width: 100%;
    background-color: bisque;
    height: 200px;
    margin-bottom: 20px;

}

.signature{
    text-align: center;
}