<div class="container">
    <section class="row">
        <article class="col-lg-12 recherche">
            <div class="zoneDeTexte">Recherche</div>
            <div class="Boutton">Go</div>
        </article>
    </section>

    <section class="row">
        <article class="col-lg-4 col-md-4">
            <div class="derniereSortie">Dernière sortie</div>
        </article>
        <article class="col-lg-4 col-md-4">
            <div class="filmFavori">Film Favori</div>
        </article>
        <article class="col-lg-4 col-md-4">
            <div class="filmVue">Film vue</div>
        </article>
    </section>

  <app-footer></app-footer>
</div>