<div class="container">
    <div class="menuMarginTop">
        <section class="row">
            <article class="col-lg-12">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius voluptatibus blanditiis nihil exercitationem? Tempore, libero laudantium? Veniam excepturi eos sapiente harum voluptas cum, ipsam ipsa sequi fugit! Incidunt, laboriosam tempore!
                </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius voluptatibus blanditiis nihil exercitationem? Tempore, libero laudantium? Veniam excepturi eos sapiente harum voluptas cum, ipsam ipsa sequi fugit! Incidunt, laboriosam tempore!
                </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius voluptatibus blanditiis nihil exercitationem? Tempore, libero laudantium? Veniam excepturi eos sapiente harum voluptas cum, ipsam ipsa sequi fugit! Incidunt, laboriosam tempore!
                </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius voluptatibus blanditiis nihil exercitationem? Tempore, libero laudantium? Veniam excepturi eos sapiente harum voluptas cum, ipsam ipsa sequi fugit! Incidunt, laboriosam tempore!
                </p>
            </article>
        </section>
    </div>
    <app-footer></app-footer>
</div>